{% load static %}

<section id="{{ section_selection.section.html_id }}" class="blog-details">

    <div class="container">

        <div class="section-header" data-aos="fade-up">
            {% if tstmnls_page_content %}
            <a href="{% url 'testimonials:index' %}">
                <h2>{{ tstmnls_page_content.name }}</h2>
            </a>
            {{ tstmnls_page_content.description|safe }}
            {% endif %}
        </div>

        {% if testimonials %}
        <div id="carouselTestimonials" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-indicators align-items-center">
                {% for testimonial in testimonials %}
                <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="button {% if forloop.first %}active{% endif %}"
                    aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.counter }}">
                </button>
                {% endfor %}
            </div>
            
            <div class="carousel-inner">
            {% for testimonial in testimonials %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="embed-responsive embed-responsive-16by9 text-center">
                        {{ testimonial.iframe_code|safe }}
                    </div>
                    {% if testimonial.show_caption %}
                    <div class="carousel-caption">
                        <h3>{{ testimonial.title }}</h3>
                        <p>{{ testimonial.description }}</p>
                    </div>
                    {% endif %}
                    <div class="indicator-space"></div>
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% endif %}
  
    </div>

    <style>
        .blog-details {
            padding: 30px 0px;
        }

        /* Custom CSS for styling */
        .blog-details #carouselTestimonials {
            overflow: hidden;
            /* Hide overflow to prevent arrows from being cut off */
        }

        .blog-details .carousel-indicators {
            bottom: 0px;
            height: 30px;
            padding: 10px;
            /* Adjust top margin for positioning */
            text-align: center;
            /* Center the indicators */
        }

        .blog-details .indicator-space {
            height: 40px;
        }

        .blog-details .carousel-indicators .button {
            width: 10px;
            /* Set indicator circle width */
            height: 10px;
            /* Set indicator circle height */
            border-radius: 50%;
            /* Make indicator circle a circle */
            background-color: whitesmoke;
            /* Set indicator circle color */
            margin: 0 5px;
            /* Adjust margin between indicators */
            border: solid 1px gray;
        }

        .blog-details .carousel-indicators .active {
            width: 12px;
            /* Set active indicator circle width */
            height: 12px;
            /* Set active indicator circle height */
            background-color: gray;
            /* Set active indicator circle color */
        }

        .blog-details .carousel-control-prev,
        .blog-details .carousel-control-next {
            background-color: gray;
            /* Set arrow background color to red */
            width: 50px;
            /* Set arrow width */
            height: 50px;
            /* Set arrow height */
            top: 50%;
            /* Position arrows vertically centered */
            transform: translateY(-50%);
            /* Adjust vertical positioning */
            border-radius: 50%;
        }

        .blog-details .carousel-control-prev-icon,
        .blog-details .carousel-control-next-icon {
            border-radius: 50%;
            /* Create a circular arrow icon */
            background-color: gray;
        }

    </style>    

</section>