{% load static %}
<!-- About Section - Home Page -->
<section id="{{ section_selection.section.html_id }}" class="about">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-xl-5 content">
        <h3>Quiénes Somos</h3>
        <h2>Tu opción Dental en Cancún</h2>
        <p>Dental Experience Cancun es una clínica odontológica con más de 10 años de experiencia, especializada en brindar tratamientos de alta calidad en un entorno turístico único como Cancún. Nuestro compromiso es proporcionar cuidado dental excepcional, respaldado por un equipo de profesionales multidisciplinarios y valores fundamentales. </p>
        <!-- <a href="#" class="read-more"><span>Leer mas</span><i class="bi bi-arrow-right"></i></a> -->
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-star-fill"></i>
              <h3>Compromiso con la Excelencia</h3>
              <p>Buscamos la perfección en cada tratamiento, asegurándonos de superar las expectativas de nuestros pacientes.
              </p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-person-hearts"></i>
              <h3>Atención Personalizada</h3>
              <p>Nos preocupamos por cada paciente de manera única, adaptando nuestros servicios a sus necesidades individuales.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-brush-fill"></i>
              <h3>Innovación Constante</h3>
              <p> Mantenemos actualizados nuestros conocimientos y tecnologías para ofrecer los tratamientos más avanzados y efectivos.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-clipboard-heart-fill"></i>
              <h3>Ética Profesional</h3>
              <p>Actuamos con integridad y transparencia, priorizando la salud y bienestar de nuestros pacientes en cada decisión que tomamos.</p>
            </div>
          </div> <!-- End Icon Box -->

        </div>
      </div>

    </div>
  </div>

</section>

<!-- End About Section -->