{% load static %}
<!-- About Section - Home Page -->
<section id="{{ section_selection.section.html_id }}" class="about">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-12">
        <div class="section-header">
          <h2>Quienes Somos</h2>
          <p>Tu opción <span>Dental</span> en Cancún</p>
          <p class="font-default">Dental Experience Cancun es una clínica odontológica con más de 10 años de
            experiencia, especializada en brindar tratamientos de alta calidad en un entorno turístico único como
            Cancún. Nuestro compromiso es proporcionar cuidado dental excepcional, respaldado por un equipo de
            profesionales multidisciplinarios y valores fundamentales.</p>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row gy-4 icon-boxes">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-star-fill img-fluid"></i>
              <h3>Compromiso con la Excelencia</h3>
              <p>Buscamos la perfección en cada tratamiento, asegurándonos de superar las expectativas de nuestros
                pacientes.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-person-hearts"></i>
              <h3>Atención Personalizada</h3>
              <p>Nos preocupamos por cada paciente de manera única, adaptando nuestros servicios a sus necesidades
                individuales.</p>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-brush-fill"></i>
              <h3>Innovación Constante</h3>
              <p> Mantenemos actualizados nuestros conocimientos y tecnologías para ofrecer los tratamientos más
                avanzados y efectivos.</p>
            </div>
          </div> <!-- End Icon Box -->

        </div>
      </div>

    </div>
  </div>

</section>

<!-- End About Section -->