{% load static %}

<section id="{{ section_selection.section.html_id }}" class="team">

  <div class="container">

    <div class="row gy-5 justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="section-header">
        <h2>Profesionales</h2>
        <p>Somos <span>Especialistas</span></p>
        <p class="font-default">Nuestro equipo está compuesto por profesionales altamente calificados y apasionados. Nos
          distinguimos por la empatía, la dedicación y el compromiso con la excelencia en cada tratamiento.</p>
      </div>
    </div>

    <div id="carouselTeam" class="carousel carousel-dark slide" data-bs-ride="carousel" data-aos="fade-up">

      <div class="carousel-indicators align-items-center mt-3">
        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row gy-3 justify-content-center align-items-center p-3">
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo1.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo2.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Dra. Ivonne Díaz</h6>
                <p>Esp. Ortodoncia Gnatológica y Ortopedia Maxilar</p>
              </div>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Dr. Diego Romero</h6>
                <p>Esp. Periodoncia e Implantología</p>
              </div>
            </div>
            <div class="indicator-space"></div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row gy-3 justify-content-center align-items-center p-3">
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo3.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo4.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Dra. María del Mar Ocharán</h6>
                <p>Esp. Endodoncia</p>
              </div>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Dra. Anali Mora Pérez</h6>
                <p>Esp. Odontopediatría</p>
              </div>
            </div>
            <div class="indicator-space"></div>
          </div>
        </div>


        <div class="carousel-item">
          <div class="row gy-3 justify-content-center align-items-center p-3">
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo5.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo6.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Dr. Abraham Oliva</h6>
                <p>Esp Cirugía Maxilofacial</p>
              </div>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Isabella Chiriboga</h6>
                <p>Auxiliar Dental</p>
              </div>
            </div>
            <div class="indicator-space"></div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row gy-3 justify-content-center align-items-center p-3">
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo7.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-6 text-center">
              <img src="{% static 'base/img/equipo/equipo8.jpg' %}" class="img-fluid rounded-circle" alt="...">
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Bárbara Uribe</h6>
                <p>Auxiliar Dental</p>
              </div>
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center legend">
              <div class="text-center">
                <h6>Laura Aguirre</h6>
                <p>Recepcionista</p>
              </div>
            </div>
            <div class="indicator-space"></div>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselTeam" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselTeam" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  
  </div>

  <style>
    .team {
        padding: 30px 0px;
    }

    .team .legend {
      min-height: 110px;
    }

    .team .legend p {
      font-size: 0.85rem;
    }

    /* Custom CSS for styling */
    .team #carouselTestimonials {
        overflow: hidden;
        /* Hide overflow to prevent arrows from being cut off */
    }

    .team .carousel-indicators {
        bottom: 0px;
        height: 30px;
        padding: 10px;
        /* Adjust top margin for positioning */
        text-align: center;
        /* Center the indicators */
    }

    .team .indicator-space {
        height: 40px;
    }

    .team .carousel-indicators button {
        width: 10px;
        /* Set indicator circle width */
        height: 10px;
        /* Set indicator circle height */
        border-radius: 50%;
        /* Make indicator circle a circle */
        background-color: whitesmoke;
        /* Set indicator circle color */
        margin: 0 5px;
        /* Adjust margin between indicators */
        border: solid 1px gray;
    }

    .team .carousel-indicators .active {
        width: 12px;
        /* Set active indicator circle width */
        height: 12px;
        /* Set active indicator circle height */
        background-color: black;
        /* Set active indicator circle color */
    }

    .team .carousel-control-prev,
    .team .carousel-control-next {
        background-color: gray;
        /* Set arrow background color to red */
        width: 50px;
        /* Set arrow width */
        height: 50px;
        /* Set arrow height */
        top: 50%;
        /* Position arrows vertically centered */
        transform: translateY(-50%);
        /* Adjust vertical positioning */
        border-radius: 50%;
    }

    .team .carousel-control-prev-icon,
    .team .carousel-control-next-icon {
        border-radius: 50%;
        /* Create a circular arrow icon */
        background-color: gray;
    }

</style>

</section>