{% load static %}
<!-- Team Section - Home Page -->

<section id="{{ section_selection.section.html_id }}" class="team">

<!--  Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Profesionales</h2>
  <p>Nuestro equipo está compuesto por profesionales altamente calificados y apasionados. Nos distinguimos por la empatía, la dedicación y el compromiso con la excelencia en cada tratamiento.</p>
</div><!-- End Section Title -->

<div class="container">

  <div class="row gy-5 justify-content-center align-items-center">

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="900">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team1.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Dra. Ivonne Díaz</h4>
        <span>Esp. Ortodoncia Gnatológica y Ortopedia Maxilar</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="800">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team2.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Dr. Diego Romero</h4>
        <span>Esp. Periodoncia e Implantología</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="1000">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team3.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Dra. María del Mar Ocharán</h4>
        <span>Esp. Endodoncia</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="100">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team4.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Dra. Anali Mora Pérez</h4>
        <span>Esp. Odontopediatría</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="400">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team5.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Dr. Abraham Oliva</h4>
        <span>Esp Cirugía Maxilofacial</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="300">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team6.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Isabella Chiriboga</h4>
        <span>Auxiliar Dental</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team7.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Bárbara Uribe</h4>
        <span>Auxiliar Dental</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

    <div class="col-6 col-md-4 col-lg-3 member" data-aos="fade-up" data-aos-delay="500">
      <div class="member-img">
        <img src="{% static 'base/img/equipo/team8.jpg' %}" class="img-fluid" alt="">
        <!-- <div class="social">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
      <div class="member-info text-center">
        <h4>Laura Aguirre</h4>
        <span>Recepcionista</span>
        <p></p>
      </div>
    </div><!-- End Team Member -->

  </div>

</div>

</section>
<!-- End Team Section -->