{% load static %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer2">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt-fill icon"></i>
        <div>
          <h4>Dirección</h4>
          <p>
            Plaza las Torres Av. Las Torres Sm 55 lote 3<br>
            Local 10, Planta Alta<br>
            77533 Cancún, México<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-whatsapp icon"></i>
        <div>
          <h4>Contáctanos</h4>
          <p>
            <strong>Whatsapp:</strong> +52 998 489 9792<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Horarios</h4>
          <p><strong>Lunes-Viernes</strong><br>
          09.30 - 14.00; 16.00 - 20.00<br>
          <strong>Sábado</strong><br>
          09.00 - 14.00<br>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Seguinos</h4>
        <div class="social-links d-flex">
          <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> -->
          <a href="https://www.facebook.com/DentalExperienceCancun" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/dental_experience1/" class="instagram"><i class="bi bi-instagram"></i></a>
          <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Dental Experience</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://ingenios.com.ar/">InGenios</a>
    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->